h2 {
    color:black!important;
    font-family: 'Playfair Display', serif;
    font-weight: bold !importannt;
    font-size: 38px !important;
}


.nav-link {
    color:black !important; 
    
}


#aflangt>{
    
}